button {
  width: 100%;
  height: 60px;
  background: #4caf50;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(90%);
}